* {box-sizing: border-box;}
/* header */
header {border: 1px solid blue;}
header nav ul {
    display: inline-block;
    border: 1px solid red;
    height: 70px;
    line-height: 70px;
    width: 70%;
    margin-left: 10px;
}
header nav ul li {display:inline-block ;
    border: 1px solid green;
    height: 70px;
    line-height: 120px;
    margin-right: 70px;
}

header nav ul li a {
    border:1px solid hotpink;
   line-height: 70px;
   position: relative;
    bottom: 25px;
    text-decoration: none;
}
header nav {
    display: inline-block;
    border:1px solid greenyellow;
    width:1030px;
    height: 120 px;
    background-color: gray;
}

header nav img { line-height: 120px;
margin-left: 40px; 
}


/* main  */
section {padding-left: 40px ;
    margin-bottom: 25px; 
}
.middle {
    margin-left: 25px;
    margin-right: 25px;
}

div img {
    float: left;
    margin-right: 25px;
}

  div p {
      width:430px;
      display: inline-block;
  }

  footer{
      clear: both;
      margin-left: 40px;
      margin-top: 25px;
      width:1030px;
      height:120px;
      background-color: gray;

  }